{% extends 'base.html' %}
{% block title %}
    Create Locations
{% endblock title %}
{% block content %}
    <div style="text-align:center;">
        <h2> Create New Location</h2>
        <table>
            <th style="width: 300px"><a href="/system/create_patient/">Patient</a></th>
            <th style="width: 300px"><a href="/system/create_location/">Location</a></th>
            <th style="width: 300px"><a href="/system/create_visit/">Visit</a></th>
        </table>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock content %}