<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta Charset=“UTF-8”>
    <title>Delete Location {{ location.name }}</title>
</head>
<body>
<div>
    <a href="">
        {% load static %}
        <img src="{% static '/logo.jpg' %}" alt="Logo">
    </a>
</div>
<div>
    <form method="post">
        {% csrf_token %}
        <h4 style="text-align:center;">Are you sure you want to delete record for location "{{ location.name }}"?</h4>
        <p style="text-align:center;"><input type="submit" value="Delete" /> <a href="{% url 'view-locations' %}">No</a> </p>
    </form>
</div>
</body>
</html>
