<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta Charset=“UTF-8”>
    <title>All locations</title>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
            height: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <a href="">
        {% load static %}
        <img src="{% static '/logo.jpg' %}" alt="Logo">
    </a>
    <a href="/system/patients/">Patients</a> |
    <a href="/system/locations/">Locations</a> |
    <a href="/system/visits/">Visits</a>
    <div style="text-align:right;">
        <a href="/system/patients/">Search</a> |
        <a href="/system/patients/">Create</a>
    </div>
    <h2 style="text-align:center;"> Locations Details</h2>
</div>
<div style="text-align:center;">
    <table>
        <tr>
            <th>Location</th>
            <th>Address</th>
            <th>District</th>
            <th>Coordinates</th>
            <th>Actions</th>
        </tr>
        {% for location in location_list %}
            <tr>
                <td>{{ location.name }}</td>
                <td>{{ location.address }}</td>
                <td>{{ location.district }}</td>
                <td>{{ location.x }}, {{ location.y }}</td>
                <td>
                    <a href="/system/patients/">View</a> |
                    <a href="/system/patients/">Edit</a> |
                    <a href="/system/patients/">Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" style="text-align: center">Empty for now</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>